body, html {
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 18px;
	font-family: 'Rajdhani', sans-serif;
	font-weight: 400;
	line-height: 1.8em;
	color: #808080;

}
/*//////////////////////////////////////////*/


/*//////////////////////////////////////////////*/
.navBar {
	position: fixed;
	z-index: 9999;
	top: 0;
	width: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	border: 1px solid #696969;
	background-color: #c0c0c0;
	
}

li.navlist  {
	float: right;
}

li.navlist a {
	display: block;
	padding: 6px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: 14px 16px;
	text-decoration: none;
	color: #4d4d4d;
}

li.navlist:hover a {
	background-color: #d3d3d3;
}

.img1, .img2, .img3 {
	position: relative;
	opacity: 1;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}	

.img1 {
	background-image: url(images/image004.jpg);
	min-height: 100%;
}

.img2 {
	background-image: url(images/servers.jpeg);
	min-height: 450px;
}

.img3 {
	background-image: url(images/food1.jpeg);
	min-height: 450px;
}

.section {
	text-align: center;
	padding: 30px 80px;
}

.section-navy {
	/*overflow: auto;*/
	background-color: #282e34;
	color: #ddd;
}

.section-navy2 {
	overflow: auto;
	background-color: #282e34;
	color: #ddd;
	text-align: left;
	padding: 30px 80px;
}

.section-white {
	background-color: #f4f4f4;
	color: #666;
}

.sectionanimals {
	font-weight: 500;
	text-align: center;
	padding: 30px 30px;
	background-image: url(images/tissue.png);
}

.titles {
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
	color: #000;
	font-size: 3vw;
	letter-spacing: 8px;
	text-transform: uppercase;
	font-weight: bold;

}

.title1 {
	font-size: 150%;
	color: #fff;
	border-bottom: 3px solid #4d4d4d;
	text-shadow: 3px 3px 10px #000;
}

.title2 {
	color: #fff;
}

.title3 {
	color: #fff;
	font-size: 120%;
}

.title4 {
	font-size: 150%;
	color: #fff;
	/*border-bottom: 3px solid #4d4d4d;*/
	text-shadow: 3px 3px 10px #000;
}

.restaurantslides {
	position: relative;

}

.restaurantpic {
	padding-left: 30px;
	padding-bottom: 20px;
	max-width: 100%;
	float: right;
	height: 30%;
	width: 50%;
}

.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 2.5s;
	animation-name: fade;
	animation-duration: 2.5s;
}

@-webkit-keyframes fade {
	from {opacity: .1}
	to {opacity: 1}
}

@keyframes fade {
  from {opacity: .1} 
  to {opacity: 1}
}

button {
	position: absolute;
	display: inline-block;
	border-radius: 8px;
	-webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    background-color: #696969;
    color: white;
    font-size: 18px;
}

.left {
	right: 35px;
	top: 5px;
}

.right {
	right: 5px;
	top: 5px;
}

button:hover {
	color: black;
}

button:focus {
	outline:0;
}

.restaurantlist {
	float: left;
	padding-left: 0;
}

.restaurantlist a {
	text-decoration: underline;
	color: #ddd;
}

.animals {
	float: none;
	height: 30%;
	width: 30%;
	margin: 1.2%;
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
}

.animals:hover {
	filter: grayscale(0%);
	-webkit-transition: all 1500ms;

}

.style2 hr {

    height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #fff inset;
}

.icons {
	height: 7%;
	width: 7%;
}    

@media only screen and (max-width: 768px) {
	.section, .sectionanimals, .restaurantpic, .animals {
		padding: 7px 10px;
	}

	.restaurantpic, .animals {
		min-width: 320px;
	}

	.sectionanimals {
		text-align: left;
	}

	.icons {
		min-width: 20px;
	}

}