body, html {
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 18px;
	font-family: 'Rajdhani', sans-serif;
	font-weight: 400;
	line-height: 1.8em;
	color: #666;

}

.navBar {
	position: fixed;
	z-index: 9999;
	top: 0;
	width: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	border: 1px solid #696969;
	background-color: #c0c0c0;
	/*display: block;
*/}

li {
	/*display: block;*/
	/*padding: 6px;
	padding-left: 10px;
	padding-right: 10px;*/
	float: right;
	/*text-align: 14px 16px;*/
}

li a {
	display: block;
	padding: 6px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: 14px 16px;
	text-decoration: none;
}

li:hover a{
	background-color: #fff;
}

.img1, .img2, .img3 {
	position: relative;
	opacity: 0.8;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}	

.img1 {
	background-image: url(images/image004p2.jpg);
	min-height: 100%;
}

.img2 {
	background-image: url(images/img013p2.jpg);
	min-height: 450px;
}

.img3 {
	background-image: url(images/image010p2.jpg);
	min-height: 450px;
}

.section {
	text-align: center;
	padding: 50px 80px;
}

.section-navy {
	background-color: #282e34;
	color: #ddd;
}

.section-white {
	background-color: #f4f4f4;
	color: #666;
}

.sectionanimals {
	text-align: center;
	padding: 30px 30px;
	background-image: url(images/image015.png);
}

.titles {
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
	color: #000;
	font-size: 27px;
	letter-spacing: 8px;
	text-transform: uppercase;
	font-weight: bold;

}

.title1 {
	border-bottom: 4px solid #FF1493;
}

img {
	float: both;
	height: 30%;
	width: 30%;
	margin: 1.5%;
	filter: grayscale(100%);
}

img:hover {
	filter: none;
}
